body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Roboto Mono', monospace;
}

#controls {
    height: 60px;
    width: 60px;
    background-color: black;
    color: white; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 0;
    margin-top: 0;
}
#video-wrapper {
    background-color: black;
    padding: 20px;
}
.button {
    border: 1.5px solid white;
    background: black;
    padding: 10px 15px;
    color: white;
    font-family: 'Roboto Mono', monospace;
  


}